<div class="fullWidthHeightPercent flexColumn centerAlign background" role="main">
  
  <div class="whiteBackdrop flexColumn centerAlign">
    <h1 class=header> We're Tech on the Spectrum</h1>
    <p class=subheader>
    Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD. </p>
    
    <h1 class="title"> What is Autism Spectrum Disorder? </h1>
    
    <p> Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD. Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD. Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD. Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD.</p>

     <p> Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD. Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD. Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD. Our mission is to promote awareness of Autistic Spectrum Disorder (ASD), encourage greater inclusiveness in our work environment, and provide hope to those who have loved ones with ASD.</p>
  </div>
  <app-footer-component></app-footer-component>
</div>
 